:root {
  --action: #ea404b;
  --branding-dark: #1c2c40;
  --branding-main: #fdd130;
  --green: #21b1b1;
  --green-hover: #369b7a;
  --masked: #efefef;
  --re-api: #079f5d;
  --re-api-hover: #056f41;
  --re-black: #f49f3c;
  --re-black-hover: #aa6f2a;
  --re-latino: #027ec3;
  --re-latino-hover: #015888;
  --re-native: #fdd130;
  --re-native-hover: #b19222;
  --re-unknown: #ea85ba;
  --re-unknown-hover: #a35d82;
  --re-white: #bfbfbf;
  --re-white-hover: #d5d5d5;
  --re-null: #b320d4;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.sub-nav-wrapper {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  border-radius: 0 0 0 0;
  justify-content: space-around;
}

.sub-nav-wrapper a {
  text-decoration: none;
  color: #e0e1dd !important;
}

@media (min-width: 900px), print {
  .sub-nav-wrapper {
    display: flex;
  }
}

.icon-person {
  height: 38px;
  width: 18.89px;
}

.re-Black {
  color: var(--re-black);
}

.re-White,
.re-white {
  color: var(--re-white);
}

.re-null {
  color: var(--re-null);
}

.re-Hispanic {
  color: var(--re-latino);
}

.re-AAPI {
  color: var(--re-api);
}

.re-native {
  color: var(--re-native);
}

.re-other {
  color: var(--re-unknown);
}

.icon-chart {
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
}

.icon-chart-races-container {
  display: flex;
  flex-direction: column;
}

.icon-chart-races-container h4 {
  text-align: left;
}

.icon-chart-race-container {
  flex: 0 0 100%;
  width: 100%;
}

.icon-chart-row {
  margin-bottom: 10px;
  min-height: 24px;
}

.icon-chart-data {
  display: flex;
  position: relative;
}

.icon-chart-label {
  margin-right: 1em;
  position: static;
  transform: none;
  font-size: 11px;
  line-height: 0.9;
}

.icon-chart-data-point {
  margin-right: 2px;
  position: relative;
}

.icon-chart-data-point-mask {
  background: #fff;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.icon-chart-data-label {
  font-size: 16px;
  left: 50%;
  position: absolute;
  bottom: auto;
  padding-left: 1.4em;
  transform: translate(0, 100%);
}

.icon-chart-disclaimer {
  color: #777;
  font-size: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}

.filter {
  margin: 0 20px 0 10px;
}

.app {
  padding: 10px 10px 50px;
}

.tool {
  padding: 10px 10px 30px;
  max-width: 1280px;
  margin: 0 auto;
}

.tool .disclaimer {
  margin-bottom: 40px;
}

.tool .disclaimer h1 {
  margin-bottom: 20px;
}

.select-component {
  position: relative;
}

.select-component.select-component-counties {
  position: static;
}

.select-component label {
  font-weight: 200;
  cursor: pointer;
  padding: 5px 10px;
}

.select-component label.modal-actived {
  background: lightgray;
}

.select-component .modal-wrapper {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 300px;
  left: 0;
  top: 100%;
  padding: 15px;
  z-index: 9999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.select-component .modal-wrapper ul {
  max-height: 500px; /* Set a maximum height for the list */
  overflow-y: auto; /* Add this line to make the list scrollable */
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.select-component.select-component-counties .modal-wrapper {
  width: 100%;
  left: 0;
  top: 100%;
  background-color: white;
  padding: 30px;
  z-index: 9999;
}

.select-component .modal-wrapper h3 {
  font-weight: normal;
}

.select-component .modal-footer {
  height: 60px;
  padding-right: 10%;
}

.select-component .modal-footer button {
  background: none;
  border: 1px solid black;
  padding: 6px 20px;
  cursor: pointer;
}

.select-component.select-component-counties .modal-footer button {
  background: none;
  border: 1px solid black;
  padding: 6px 20px;
  float: right;
  cursor: pointer;
}

.select-component .modal-footer button:hover {
  background: black;
  color: white;
}

.select-component ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-component.select-component-counties ul {
  column-count: 5;
}

.select-component ul li {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 0;
  break-inside: avoid;
}

.select-component ul li input {
  margin-right: 6px;
}

.select-component.select-component-counties ul li {
  padding: 10px 20px;
  font-weight: bold;
}

.select-component ul.modal-counties li {
  width: 200px;
}

.chart-scale {
  font-weight: normal;
}

.chart-scale .icon-chart-data {
  display: inline-flex;
}

.chart-scale .icon-chart-data .icon-chart-data-point-mask {
  display: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.buttons .button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.buttons .button:hover {
  background: black;
  color: white;
}

.inner-anchors {
  text-align: center;
  margin-bottom: 30px;
}

.inner-anchors a {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #0d5f9fc4 !important;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;
}

.inner-anchors a:hover {
  background-color: #0d5f9fc4;
  color: #fff !important;
}

/*.rja-tool-header {
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  
  width: 100%;
  margin: 0 !important;
  
  background-color: #e0e1dd;
}

.rja-tool-header a {
  color: #0d1b2a;
  font-weight: 700;
  padding: 4px 0px;
}

.rja-tool-header a.active {
  color: #2d3748;
}

.rja-tool-header img {
  width: 50px;
}

.rja-tool-header img:hover {
  transform: scale(1.1);
}*/
/* .rja-tool-header {
    flex-direction: row;
    margin: 0 auto 60px;
    max-width: auto;
    padding: 0;
  }

  .rja-tool-header a {
    padding: 0 10px;
  }

  .rja-tool-header a:first-child {
    margin-right: auto;
  }*/

.generic-page {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  padding-bottom: 60px;
}

.generic-page h2 {
  color: #2d3748;
  text-align: center;
}

.generic-page p {
  color: #2d3748;
  font-size: 16px;
}

.generic-page table {
  border-collapse: collapse;
}

.generic-page table td {
  border: 1px solid black;
  padding: 0 4px;
}

.loading-animation-centered {
  display: flex;
  justify-content: center;
}

.chart-selected {
  text-align: center;
  padding: 20px 0;
}

.chart-selected span {
  display: inline-block;
  padding: 0 4px;
  color: #777;
  font-weight: 700;
}

@media (min-width: 1024px), print {
  .filters {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icon-chart-races-container {
    flex-direction: row;
  }

  .icon-chart-races-container h4 {
    text-align: center;
  }

  .icon-chart-race-container {
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .icon-chart-rows {
    display: flex;
    margin: auto 0 0;
    justify-content: center;
  }

  .icon-chart-row {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding: 1em 7px 6em;
    flex: 0 0 auto;
  }

  .icon-chart-data {
    flex-direction: column-reverse;
  }

  .icon-person-placeholder {
    height: 0px;
  }

  .icon-chart-label {
    flex: 0 0 auto;
    font-size: 11px;
    line-height: 0.9;
    left: 50%;
    position: absolute;
    text-align: right;
    top: calc(100% + 1em);
    transform: translate(-68%, -4.1em) rotate(-71deg);
    transform-origin: top center;
    width: 7rem;
  }

  .icon-chart-data-point {
    margin-right: 2px;
    position: relative;
  }

  .icon-chart-data-point-mask {
    background: #fff;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .icon-chart-data-label {
    bottom: 0.3em;
    font-size: 0.8rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: auto;
    padding: 0;
  }

  .generic-page {
    max-width: 832px;
    margin: 0 auto;
  }
}

.disclaimer {
  text-align: center;
  margin-top: 40px;
}

.disclaimer img {
  width: 100px;
  width: height;
}

@media print {
  .icon-chart {
    height: 80vh;
    margin-bottom: 20vh;
  }
  .buttons {
    display: none;
  }

  .filters {
    display: none;
  }

  .disclaimer {
    display: block;
    height: 100vh;
  }
  .footer {
    margin-top: 20vh;
  }
}

.table-container {
  width: 100%;
  margin: 0 auto;
}

.ui.celled.table {
  border-collapse: collapse;
  width: 100%;
}

.ui.celled.table th,
.ui.celled.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.ui.celled.table th {
  background-color: #f2f2f2;
}

.pagination-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.description {
  font-weight: normal;
  font-size: 12px;
  color: grey;
  font-family: "Lato", sans-serif;
  margin-top: 05px;
  margin-left: 5px;
}

.rja-tool-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  transition: background 0.3s, box-shadow 0.3s;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left .logo {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

.website-name {
  font-size: 30px !important;
  margin-left: 20px !important;
  font-family: "Lato", sans-serif !important;
  transition: color 0.3s;
}

.right a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lato", sans-serif !important;
  transition: color 0.3s;
}

.right a:hover {
  text-decoration: underline;
  color: #007bff;
}

.large-initial {
  font-size: 40px;
  color: #000408;
  font-weight: bold;
}

@media (max-width: 768px) {
  .rja-tool-header {
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
  }

  .right {
    margin-top: 20px;
  }

  .website-name {
    font-size: 16px;
    margin-left: 0;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to bottom, #000, #333);
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Add a shadow effect */
}

.back-to-top:hover {
  background: linear-gradient(to bottom, #333, #666);
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar-container {
  position: relative;
}

.search-bar {
  padding-right: 32px !important;
}

.clear-icon {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-65%);
  right: 8px;
  cursor: pointer;
}

.clear-icon:hover {
  color: #333;
}
